<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- awsome font -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <title>Main Page</title>
</head>


<body>

    <div class="bg-dark py-3">
        <div class="container text-light">
            <div class="row justify-content-around">
                <div class="col-5">
                    <h5>Welcome <span class="text-info">{{current_user.first_name}}</span>!</h5>
                </div>
                <div class="col-7 text-right">
                    <a href="/books" class="btn btn-outline-light btn-sm">Home</a>
                    <a href="/books/add" class="btn btn-outline-light btn-sm">Add Book and Review</a>
                    <a href="/logout" class="btn btn-outline-light btn-sm">Log Out</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row justify-content-between">
            <!-- book reviews list -->
            <div class="col-5">
                <div class="py-3 my-1 border-bottom">
                    <h5>{{book.title}}</h5>
                    <p>Author : {{book.author}}</p>
                </div>
                <div class="my-3">
                    <h5>Reviews</h5>
                    {% for review in book.reviews.all %}
                    <ul class="nav">
                        {% for i in 'a'|rjust:review.rating %}
                        <li class="nav-item">
                            <i class="fas fa-star text-warning"></i>
                        </li>
                        {% endfor %}
                    </ul>
                    <p class="small">
                        <a href="/users/{{review.user.id}}">
                            <span class="btn-link">{{review.user.first_name}}</span>
                        </a> says : {{review.text}}
                    </p>

                    <div class="row">
                        <div class="col-7 small text-muted" style="line-height:3.3">{{review.created_at|date}}</div>

                        <!-- delete review only for user who add -->
                        {% if current_user.id == review.user.id %}
                        <form class="col-5" action="/delete_review" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="review_id" value="{{review.id}}">
                            <input type="hidden" name="review_user_id" value="{{review.user.id}}">
                            <button class="small btn btn-link"><i class="far fa-trash-alt"></i></button>
                        </form>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>

            </div>

            <!-- add review form -->
            <div class="col-5">
                <h3>Add a review</h3>
                <form action="/add_review" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="user_id" value="{{current_user.id}}">
                    <input type="hidden" name="book_id" value="{{book.id}}">
                    <div class="form-group">
                        <label for="">Review</label>
                        <textarea name="review" id="" class="form-control" cols="30" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="">Rating:</label>
                        <select name="rating" id="" class="form-control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>