<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>User_page</title>
</head>

<body>
    <div class="bg-dark py-3">
        <div class="container text-light">
            <div class="row justify-content-around">
                <div class="col-5">
                    <h5>Welcome <span class="text-info">{{current_user.first_name}}</span>!</h5>
                </div>
                <div class="col-7 text-right">
                    <a href="/books" class="btn btn-outline-light btn-sm">Home</a>
                    <a href="/books/add" class="btn btn-outline-light btn-sm">Add Book and Review</a>
                    <a href="/logout" class="btn btn-outline-light btn-sm">Log Out</a>
                </div>
            </div>
        </div>
    </div>

    <section class="jumbotron">
        <div class="container">
            <h3>User: {{this_user.first_name}} {{this_user.last_name}}</h3>
            <p>Email: {{this_user.email}}</p>
            <p>Total Reviews : {{reviews_num}} </p>
        </div>
    </section>
    <div class="container py-5">

        <h5 class="py-3">Post Reviews on the following books</h5>
        {% for book in book_list %}

        <a href="/books/{{book.id}}">
            <p class="">{{book.title}}</p>
        </a>
        {% endfor %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>